<!DOCTYPE html>
<style>
html {
    background-color: rgb(255, 136, 0);
}

.button-holder {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 90vh;
}

#buttons {
    display: inline-block;
    padding: 10px 20px;
    color: #0078D7;
    background-color: #00d736;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#buttons:hover {
    background-color: #000000;
}


</style>

<html>
    <head>
        <title>Home Page</title>
    </head>
    <body>
        <div class="button-holder">
            <a href="/predict" id="buttons">Enter information to machine learning model</a>
        </div>
    </body>


</html>