<!DOCTYPE html>
<style>

#return-to-home {
    display: inline-block;
    padding: 10px 20px;
    color: #0078D7;
    background-color: #00d736;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

#return-to-home:hover {
    background-color: #000000;
}
</style>

<html>
    <head>
        <title>Predict</title>
    </head>
    <body>
        <form id="info">
            <input type="number" name="Age" placeholder="Enter an age">
            <input type="number" name="Length_of_Stay" placeholder="How long did you stay?(number)">
            <input type="number" name="Num_Prior_Admissions" placeholder="How many previous admissions has this patient had?">
            <input type="number" name="Blood_Pressure" placeholder="What was the blood pressure?">
            <input type="number" name="Heart_Rate" placeholder="What was the heart rate?">
            <input type="submit" value="Submit Information">
        </form>
        <div id="results"></div>
        <a href="/" id="return-to-home">Return to Home Page</a>

    </body>
</html>

<script>
    document.getElementById('info').addEventListener('submit', function(e) {
        e.preventDefault()

        const formData = new FormData(this)
        fetch('/post-result', {
            method: 'POST',
            body: formData
        }).then(response => response.text())
  .then(data => {
    document.getElementById('results').innerHTML = data;
  })
  .catch(error => console.error('Error:', error));

    })

</script>